#about {
    padding: 75px 15px;
    /* background-color: #ffffff; */
    background-color: #252b31;
    /* border-bottom: 1px solid rgb(220, 217, 217); */
    text-align: center;
}

/* #about h2{
    color: #ffffff;
} */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#about p {
    color: whitesmoke;
    margin: 0;
    font-size: 1.3em;
    font-style: italic;
}