#projects {
    /* background-color: burlywood; */
    /* border-color: black; */
    text-align: center;
    padding: 50px 15px 20px;
}

.project-block {
    background-color: white;
    padding: 5%;
    margin-bottom: 10%;

}



.project-block1 {
    background-color: white;
    padding: 1%;
    margin: 0 2% 2% 0;
    width: 23%;
    display: inline-block;
}

.project-block a {
    color: #1890ff;
}

@media only screen and (max-width: 600px) {
    .project-block1  {
      width: 100%;
    }
  }