#projects {
    background-color: burlywood;
    /* border-color: black; */
    text-align: center;
}

.project-block {
    position: relative;
    display: inline-block;
    width: 300px;
    border: solid;
    margin: 2% 0px 0px 2%;
    background-color: #dcd9d9;

}

.project-image {
    position: relative;
    padding: 3%;
    max-width: 300px;
    width: 100%;
}

.project-image img {
    border-radius: 4px;
    width: 100%;
}