@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
.quoteDiv{
    position:relative;
    margin-bottom:0;
    max-width: 99%;
    /* margin-bottom: 10%; */
    text-align: center;
    /* clear: both; */
}
.quote{
    /* font-family: 'Great Vibes', cursive; */
    font-size: 3vh
}
.language{
    position: relative;
    /* left:0; */
    margin-top:5%;
    float: left;
    width:50%;
    height: 50%;
}
.framework{
    position: relative;
    /* left:0; */
    margin-top:5%;
    float: right;
    width:50%;
    height: 50%;
}
.about{
    position: relative;
    margin:5%;
    margin-bottom: 0;
    text-align: center;
    font-size: 2vh;
}
.subTopics{
    margin:5%;
    margin-bottom: 0;
    clear: both;
    font-size: 2vh;
}
.subTopics2{
    margin:5%;
    margin-bottom: 0;
    clear: both;
    font-size: 2vh;
}
.aboutBody{
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}
@media only screen and (max-width: 1024px) {
    .quoteDiv{
        padding:1vh;
        bottom:7%;
        height:7%;
    }
    .language{
        position: relative;
        left:0;
        margin-top:5%;
        width:100%;
        height: 50%;
    }
    .framework{
        position: relative;
        left:0;
        margin-top:5%;
        width:100%;
        height: 50%;
    }
}