.coverImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40%;
  background-image: url("../images/cover.jpg");
  background-position: center center;
  background-size: cover;
}
.profileImage {
  position: absolute;
  top: 25%;
  height: 30%;
  left: 10%;
  width: 100%;
}
.profileImage img {
  width: 30vh;
  height: 30vh;
  border-style: solid;
  border-color: white;
  border-width: 1vh;
  border-radius: 50%;
}
.profileName {
  position: absolute;
  font-family: "EB Garamond", serif;
  margin-left: 35vh;
  margin-top: -13vh;
}
profileName b {
  font-size: 3vh;
  font-family: "EB Garamond", serif;
}
.education {
  position: absolute;
  top: 55%;
  width: 100%;
  left: 0%;
  height: 45%;
}
.secondaryEducation {
  position: absolute;
  left: 0;
  width: 33%;
  top: 0%;
  height: 100%;
  border-style: solid;
  border-color: white;
  border-right-color: lightgray;
  border-width: 2vh;
}
ul {
    font-size: 2vh;
}
h2{
    font-size: 3vh;
}
.seniorSecondaryEducation {
  position: absolute;
  left: 33.3%;
  width: 33%;
  top: 0%;
  height: 100%;
  border-style: solid;
  border-color: white;
  border-right-color: lightgray;
  border-width: 2vh;
}
.graduation {
  position: absolute;
  left: 66.9%;
  width: 33%;
  top: 0%;
  height: 100%;
  border-style: solid;
  border-color: white;
  border-width: 2vh;
}
@media only screen and (max-width: 1024px) {
  .coverImage {
    height: 30%;
  }
  .profileImage {
    top: 22%;
    height: 20vh;
    width: 100%;
    left: 5%;
  }
  .profileImage img {
    width: 20vh;
    height: 20vh;
    border-style: solid;
    border-color: white;
    border-width: 1vh;
    border-radius: 50%;
  }
  .profileName {
    position: absolute;
    font-family: "EB Garamond", serif;
    margin-left: 25vh;
    margin-top: -12vh;
  }
  .secondaryEducation {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: white;
    border-bottom-color:lightgray;
    border-width: 1vh;
  }
  .seniorSecondaryEducation {
    left: 0;
    width: 100%;
    height: 100%;
    top: 100%;
    border-style: solid;
    border-color: white;
    border-bottom-color:lightgray;
    border-width: 1vh;
  }
  .graduation {
    left: 0;
    width: 100%;
    height: 100%;
    top: 200%;
    border-style: none;
  }
  .education {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0%;
    height: 50%;
  }
}
