.Work-cards{
    position: absolute;
    top:10%;
    left:5%;
    width:90%
}
.ant-card-body 
{
    font-size: 15px;
}
/* .Work-Body{
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
} */